@media only screen and (max-width: 1440px) {
  .content-map #tour-accordion ul li {
    display: block !important;
  }
  .home-banner .box-list {
    max-width: 90%;
    column-gap: 10px;
  }
  .sec-itinerary .itinerary h3 {
    font-size: 30px;
  }
  .sec-quote .cont-quote {
    gap: 20px;
  }
  h1.page-title {
    width: 80%;
  }
  .banner-page {
    overflow: hidden;
  }
  .shoptimizer-archive .col-full {
    padding-left: 0;
    padding-right: 0;
  }
  .itinerary__hdr .itinerary__button-group {
    top: 20px;
  }
}
@media only screen and (max-width: 1366px) {
  .single-post #content {
    margin-top: -60px;
  }
  h1.page-title {
    width: 100%;
    padding: 0 30px;
  }
  .sec-des-month .tab-panel {
    padding-bottom: 0;
  }
  section.sec-country-intro {
    padding: 40px 12px;
  }
  .sec-ideas .container {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .sec-country-intro.padd-t-0 .content-desc > p:last-child {
    margin-bottom: 0;
  }
  .single.single-post #content {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1280px) {
  .itinerary__hdr h3 {
    font-size: 30px;
  }
  .itinerary__hdr .itinerary__button-group {
    top: 15px;
  }
  .sec-py .sec-list-suggest {
    width: 100%;
    margin: 0;
  }
  .sec-py .suggest-tours {
    padding: 0 50px;
  }
  .banner-page.single .container > div {
    padding: 0 30px;
  }
  .banner-page.single .container .tour-details {
    padding: 20px 30px;
  }
  .banner-page h1.banner-title {
    font-size: 33px;
  }
  h3.name-country {
    margin-bottom: 30px !important;
    line-height: 1.3;
  }
  .sec-itinerary .itinerary__button-group > button {
    padding: 10px 12px;
  }
  .sec-slide-tour .slide-ft {
    margin: 0;
  }
  .sec-slide-tour .owl-stage-outer .owl-stage {
    max-width: inherit !important;
  }
  .sec-country-intro.padd-t-0 {
    margin-top: 40px;
  }
  .sec-explore .list-post {
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .sec-explore .list-post .post {
    width: 100%;
    padding: 0;
  }
  .sec-country-intro .container {
    padding: 0 12px;
  }
  .home .home-container {
    padding: 60px 20px;
  }
  .tours-slider .owl-prev,
  .tours-slider .owl-next {
    width: 25px;
    height: 25px;
  }
  .tours-slider .owl-next {
    right: 0;
  }
  .tours-slider .owl-prev {
    left: 0;
  }
  .tour-slider .owl-prev span,
  .tour-slider .owl-next span,
  .tours-style .owl-prev span,
  .tours-style .owl-next span {
    line-height: 19px;
  }
  .sec-itinerary .itinerary h3 {
    font-size: 25px;
  }
  button.origin-\[22\%_0\] {
    margin: auto 0 !important;
  }
}
@media only screen and (max-width: 1140px) {
  .page-template-booking-tours
    .sec-passenger
    + div
    .wpforms-field-layout-columns {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .page-template-booking-tours
    .sec-passenger
    + div
    .wpforms-field-layout-columns
    .wpforms-layout-column-33 {
    width: 100% !important;
  }
  .reviews {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reviews .slick-prev,
  .reviews .slick-next {
    top: 60%;
  }
  .reviews .slick-next {
    right: 10px;
    z-index: 5;
  }
  .reviews .slick-prev {
    left: 10px;
    z-index: 5;
  }
  h1.page-title {
    font-size: 34px;
  }
  .country-ideas {
    padding: 0 20px;
  }
  .sec-cont-travel .container,
  .sec-place-popular .container,
  .sec-description > .container,
  .sec-information .container,
  .sec-custom-tour .cont-top {
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-full-nav ul.menu > li.menu-item > a > span,
  .right-nav p {
    font-size: 14px;
  }
  section.sec-find-a-trip .container,
  section.sec-rv .container {
    padding: 0px 10px;
  }
  /* .sec-explore .list-post {
    padding-bottom: 60px;
  } */
  .sec-highlight .container {
    margin: 0 30px;
    padding: 50px 40px;
  }

  .sec-cont-travel .desc-cont {
    padding-right: 0;
  }
  .search-results #content .shoptimizer-archive .col-full {
    padding: 0 20px;
  }
  .sec-popular ul.cat-list {
    position: relative;
  }

  .sec-popular ul.cat-list .owl-nav > button {
    position: absolute;
  }

  .sec-popular .owl-nav .owl-prev {
    left: 10px;
  }

  .sec-popular .owl-nav .owl-next {
    right: 10px;
  }

  .sec-ideas,
  .sec-tour .heading {
    padding-left: 12px;

    padding-right: 12px;
  }

  section.sec-banner-card {
    margin-bottom: 50px;
  }

  .sec-nav .menu-item::after {
    right: -37px;
  }

  .sec-nav ul.list-nav {
    justify-content: space-around;
  }

  .sec-banner-card .card {
    height: 455px;

    padding: 40px 30px;
  }

  .sec-specialist .col-full {
    gap: 20px;

    padding: 60px 30px;
  }

  .copyright ul.menu > li > a {
    font-size: 13px;
  }

  .breadcrumbs {
    padding: 20px;
  }

  .header-4 .header-4-container {
    padding: 0 20px !important;
  }

  .right-nav p span {
    padding: 8px 15px;
  }

  .header-4-inner .col-full-nav {
    align-items: center;

    margin: 0 !important;

    gap: 30px;
  }

  .right-nav p span {
    margin: 0;

    font-size: 12px;
  }
  .page-template-destinations .tab > div.grid {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .content-map .tour-info {
    padding-left: 10px;
  }
  .sec-itinerary .itinerary__button-group > button {
    padding: 10px 5px;
    font-size: 16px;
  }
  .page-template-booking-tours .contact-us-frm .side-bar {
    margin-top: 30px !important;
  }
  .contact-us-frm > .container {
    flex-direction: column;
    gap: 0;
  }
  .contact-us-frm .des-sidebar p {
    text-align: center;
  }
  .contact-us-frm.sec-team .container .side-bar {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  .banner-page.single a.classic-tour {
    text-align: center;
  }
  .banner-page.single .tour-details p,
  #wpsvconline,
  #wpsvconline::after {
    font-size: 18px;
  }
  #wpsvconline::before {
    font-size: 22px;
  }
  .user-online #mvcwid {
    padding: 10px 0 20px;
  }
  .single-places-to-go .home-suggest {
    padding: 30px;
  }
  .places-post {
    gap: 11px;
  }
  .single-travels-ideas .sec-country-intro .content-desc {
    padding-right: 10px;
  }
  .sec-description .desc-cont p,
  .home-intro .left > p:nth-child(3) {
    margin-bottom: 0;
  }
  .sec-tour .list-tour .tour-item {
    padding: 0;
  }
  .sec-explore.sec-guides-visit {
    padding-bottom: 0;
  }

  .sec-quote .container {
    padding: 30px 12px;
  }

  .sec-quote .cont-quote {
    padding: 0;
  }

  .sec-information .accordion-list {
    padding: 0 15px;
  }

  .sec-tour .list-tour {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;

    padding: 0 12px;
  }

  h1.page-title {
    font-size: 28px;
  }

  .sec-tour .list-tour.block .tour-item {
    margin-bottom: 15px;
  }

  .sec-tour .tour-item {
    width: 100%;
  }

  h1.page-title {
    text-align: center;

    width: 80%;
  }

  .sec-slider .slide h2 {
    font-size: 20px;
  }

  .sec-about-intro h2.title,
  .sec-banner-card h2.title,
  .sec-ideas h2.title,
  .sec-rv h2.title,
  .sec-explore h2.title,
  .sec-place-popular h2.title,
  .sec-view h2.title {
    font-size: 30px;
  }
  .sec-slider ul.slides {
    position: relative;
  }
  .sec-slider .owl-nav > button {
    position: absolute;
  }
  .sec-slider .owl-nav .owl-prev {
    left: 10px;
  }
  .sec-slider .owl-nav .owl-next {
    right: 10px;
  }
  .sec-nav .menu-item::after {
    right: -28px;
  }
  .home-intro .left h2 {
    font-size: 30px;
  }
  .home-banner .item a span {
    font-size: 16px;
  }
  .home-banner .item i {
    padding: 0 24px;
  }

  .home-banner .title {
    width: 800px;
  }

  .home-banner img {
    min-height: 600px;
  }

  footer,
  .sec-description .container {
    padding-top: 30px;

    padding-bottom: 30px;
  }

  footer .col-full {
    padding: 0 !important;
  }

  .sec-specialist .col-full {
    flex-direction: column;
  }

  .sec-specialist .col-full .widget_text {
    flex: 0 0 100% !important;

    max-width: 100% !important;
  }

  .sec-specialist .widget_text .textwidget h2,
  .sec-specialist .widget_text .textwidget > p {
    text-align: center;
  }

  .sec-specialist .about-infor {
    justify-content: center;

    column-gap: 30px;
  }

  .sec-specialist .col-full .widget_text:nth-child(2) .textwidget > ul {
    justify-content: space-evenly;
  }

  .col-full-nav ul.menu > li.menu-item > a > span {
    font-size: 16px;
    font-weight: 700;
  }

  .header-4-inner .col-full-nav {
    gap: 15px;
  }

  .right-nav p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .right-nav p span {
    font-size: 11px;
    min-height: unset;
    padding: 5px 15px;
    margin: 0;
  }
  .home-title h2 {
    margin-bottom: 10px;
  }
  /* .tours-slider .owl-prev span,
  .tours-slider .owl-next span {
    top: -60%;
  } */
  .tour-slider .owl-prev span,
  .tour-slider .owl-next span,
  .tours-style .owl-prev span,
  .tours-style .owl-next span {
    line-height: 19px;
  }
  .travels-ideas p:last-child {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 991px) {
  .post-type-archive-blogs #content {
    overflow: auto;
  }
  .tax-inspiration #content .col-full {
    display: flex;
  }
  .single-places-to-go .home-suggest {
    padding: 30px 15px;
  }
  .sec-itinerary .itin__info-inner {
    flex-direction: column-reverse;
  }

  .sec-itinerary .owl-item li img {
    height: 220px;

    object-fit: cover;
  }

  .sec-itinerary .itin-day__carousel {
    padding: 0 10px;
  }

  .sec-itinerary .tour-info::after {
    bottom: 0;
  }

  .sec-slide-tour .owl-stage-outer .owl-stage .owl-item,
  .sec-slide-tour .slides,
  .sec-slide-tour .slide-ft li img {
    width: 800px !important;
  }
  .sec-des-month .container-month {
    margin-top: 0;
    padding-bottom: 30px;
  }
  section.sec-des-month {
    padding-bottom: 0;
  }
  .sec-ideas .container {
    padding-top: 0;
  }
  .sec-tour .list-tour {
    gap: 15px;
    padding: 0 12px;
  }
  .sec-country-intro .container,
  .sec-country-intro .content-desc,
  .sec-tour .tour-item {
    padding: 0;
  }
  .sec-tour {
    margin: 20px 0;
  }
  .sec-popular {
    padding: 30px 0;
  }
  .archive.category #content .shoptimizer-archive > .col-full {
    overflow: auto;
  }
  .col-full-nav > nav,
  .col-full-nav > div {
    width: 100%;
  }
  .col-full-nav > div:nth-child(3) {
    order: 1;
    margin: 0;
  }
  .col-full-nav > div:nth-child(3) p,
  .col-full-nav > .widget_search {
    margin: 0;
  }
  .col-full-nav > .widget_search {
    order: 2;
  }
  .col-full-nav > nav:first-child {
    order: 3;
  }
  .col-full-nav > .right-nav {
    order: 4;
  }
  .sec-slider li.slide {
    height: 400px;
  }
  .sec-banner-card .card {
    height: auto;
    left: 35px;
    top: 35px;
  }
  .col-full-nav > .widget_search form {
    margin-bottom: 0;
  }
  .col-full-nav > .widget_search {
    padding: 15px 0;
  }
  .col-full-nav .search-form::before {
    left: unset;
    right: 0.85em;
    top: 0.95em;
  }
  .col-full-nav input[type="search"] {
    background-color: rgba(241, 241, 241, 0.2);
    border: unset;
    color: #fff;
    padding: 13px 50px 13px 20px;
    border-radius: 5px;
  }
  .col-full-nav input[type="search"]::placeholder {
    color: #ced4da;
  }
  .sec-banner-card .card.card-right {
    height: 370px;
    top: 60px;
    right: 60px;
  }
  .sec-about-intro h2.title,
  .sec-banner-card h2.title,
  .sec-ideas h2.title,
  .sec-rv h2.title,
  .sec-explore h2.title,
  .sec-place-popular h2.title,
  .sec-view h2.title {
    font-size: 25px;
  }

  .owl-nav.disabled {
    display: unset !important;
  }

  .main-navigation
    ul.menu
    li.menu-item-has-children
    li.menu-item-has-children
    span.caret::after {
    content: "" !important;
  }

  .header-4-container .col-full-nav {
    background: var(--blue);

    display: flex;

    flex-direction: column;

    padding-top: 30px;
  }

  .sticky-m .site-header {
    box-shadow: unset !important;
  }

  .header-4-inner .site-branding button.menu-toggle {
    background-color: transparent !important;
  }

  button.menu-toggle .bar,
  .main-navigation ul.menu li.menu-item-has-children span.caret::after {
    background-color: #fff !important;
  }

  footer {
    padding: 30px 20px;
  }

  #page footer .site-footer .col-full {
    display: grid;

    grid-template-columns: repeat(4, auto);

    column-gap: 15px;
  }

  footer .site-footer .col-full > div {
    max-width: 100% !important;
  }

  #page .copyright .col-full {
    display: flex;

    justify-content: space-between;
  }

  #page .footer-mid .col-full {
    display: grid;

    grid-template-columns: 4fr 1fr;

    column-gap: 15px;
  }

  .footer-mid .col-full .widget {
    max-width: 100%;
  }

  .copyright,
  .footer-mid {
    margin-top: 30px;
  }
  #page .below-content {
    padding: 15px 0;
  }
  .header-4 .header-4-container {
    z-index: 100 !important;
  }
  .tab-panel .best-places .owl-nav > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: var(--white) !important;
    border-radius: 50% !important;
    font-size: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tab-panel .best-places .owl-nav > button > span {
    color: var(--yellow);
    padding-bottom: 5px;
  }
  .tab-panel .best-places .owl-nav .owl-next {
    right: -40px;
  }

  .tab-panel .best-places .owl-nav .owl-prev {
    left: -40px;
  }

  .sec-highlight h2 {
    margin-bottom: 30px;
  }

  .sec-itinerary .itinerary h3 {
    font-size: 20px;
  }

  .sec-itinerary .itinerary__button-group {
    top: 10px;
  }

  .sec-custom-tour .cont-top {
    gap: 15px;
  }
  .mobile-menu.close-drawer {
    left: 10px !important;
    top: 22px !important;
  }
  .main-header .menu-toggle .bar-text {
    color: #fff !important;
    left: -4px;
    margin-top: 0;
    margin-left: 0;
    bottom: -10px;
    top: unset;
  }
  .col-full-nav {
    left: -100% !important;
    transition: all 0.8s;
  }
  .mobile-toggled .col-full-nav {
    left: 0 !important;
    width: 100%;
  }
  .header-4-inner .col-full-nav > .widget img {
    margin: 0 auto;
    height: 47px;
    width: 123px;
  }
  .col-full-nav > .widget_search {
    display: block !important;
  }
  #menu-primary-menu > li.menu-item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  }
  #menu-primary-menu > li.menu-item:first-child {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
  }
  .right-nav {
    display: none !important;
  }
  #menu-primary-menu > li.menu-item > a.main-menu-link {
    padding: 12px 0;
  }
  #idea-post .post_by_month {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .sec-nav ul.list-nav {
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: unset;
  }
  .sec-nav li.menu-item {
    flex: 0 0 28%;
    justify-content: center;
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .travellerItem span.sec-title b {
    flex: 0 0 12%;
    max-width: 12%;
  }
  .travellerItem span.mb20 label {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .itinerary__button-group.bottom {
    display: none !important;
  }
  .contact-us-frm .frm-booking > h2 {
    font-size: 25px !important;
  }
  .page-template-booking-tours #content .contact-us-frm .type-travel ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .page-template-booking-tours .frm-detail + div .choose-gender {
    flex: 0 0 35%;
    max-width: 100%;
  }
  .page-template-booking-tours .frm-detail + div .txt-name {
    flex: 0 0 65%;
    max-width: 65%;
  }
  .page-template-booking-tours .container form {
    margin: 40px 20px;
  }
  .contact-us-frm .wpforms-page > div:not(div:first-child) {
    padding: 0 30px !important;
  }
  .contact-us-frm form h2 {
    text-align: left;
    font-size: 17px !important;
  }
  #content .wpforms-container .wpforms-field .wpforms-list-2-columns ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  #content .contact-us-frm .type-travel ul {
    gap: 20px;
  }
  .single-travel-guides .sec-cont-travel > .container {
    flex-direction: column;
  }
  .single-travel-guides .sec-cont-travel > .container .desc-cont,
  .single-travel-guides .sec-cont-travel > .container .destination {
    width: 100%;
  }
  .single-travel-guides .sec-description .destination .box {
    justify-content: space-between;
  }
  .home .shoptimizer-archive > .col-full {
    padding-left: 0;
    padding-right: 0;
  }
  .home-intro .right .item-content {
    margin-left: 20px;
  }
  .home-intro .right .item-content:first-child {
    margin-left: 0;
  }
  .single-places-to-go .tours-slider {
    margin-top: 10px;
  }
  h5.service a,
  h5.city {
    font-size: 12px;
  }
  .country-ideas .sec-btn > a {
    padding: 5px 10px !important;
  }
  .item-country .main-cnt {
    max-width: 100% !important;
  }
  .item-country .cnt-country {
    flex-direction: column-reverse;
    gap: 15px;
  }
  #idea-post.ideas-by-month .post_by_month {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
  }
  .item-country .cnt-country img {
    width: 100%;
  }
  h1.page-title {
    top: 45%;
  }
  h1.page-title + p {
    top: 65%;
  }
  .home-intro .right .item-content {
    height: 100%;
  }
  .ideas-by-month {
    padding: 40px 12px;
  }
  .ideas-by-month h2 {
    font-size: 27px;
  }
  #idea-post .post_by_month {
    margin-top: 30px;
  }
  .country-ideas .sec-btn > a {
    padding: 10px 20px;
  }
  .sec-cont-travel h2 {
    text-align: center;
    margin-bottom: 10px !important;
  }
  .sec-cont-travel h3 {
    font-size: 20px;
    line-height: 25px;
  }
  .sec-other-ideal .container {
    padding-left: 0;
    padding-right: 0;
  }
  .sec-cont-travel .more-tour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .sec-cont-travel .more-tour .tour-in-month {
    width: 100%;
    margin: 0;
  }
  .sec-des-month #tabs > .tabs-nav {
    display: flex;
    overflow-x: auto;
    column-gap: 15px;
    padding: 15px;
  }
  .desc-month {
    gap: 0;
    row-gap: 15px;
    flex-direction: column-reverse;
  }
  .sec-des-month .panel-right img {
    width: 100%;
  }
  .desc-month .panel-left > p,
  .sec-explore.sec-guides-visit h2 {
    margin-bottom: 10px;
  }
  .sec-quote .cont-quote {
    flex-direction: column;
  }
  .sec-tour .block .tour-item a {
    min-height: auto;
  }
  .sec-tour .route.block {
    padding: 15px;
  }
  .sec-tour .block .tour-title {
    padding: 15px 0;
  }
  .sec-tour .list-tour.block .tour-item {
    max-width: 100%;
  }
  .sec-view .container,
  .sec-explore.sec-guides-visit {
    padding: 30px 12px;
  }
  .sec-guides-visit .container {
    padding-bottom: 30px;
  }
  .sec-place-popular .places-list,
  .sec-explore .list-post {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .sec-guides .guide {
    width: 50%;
  }
  .sec-information {
    padding: 40px 0;
  }
  .sec-information h2,
  .sec-guides h2 {
    margin-bottom: 30px;
  }
  .sec-tour .list-tour {
    display: flex;
    justify-content: center;
  }
  .sec-tour .tour-item {
    max-width: 48.8%;
  }
  .sec-tour .tour-title a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .sec-ideas .ideas-cont {
    flex: 2;
    padding-right: 0;
  }
  .breadcrumbs {
    padding: 10px;
  }
  .sec-banner-care h2,
  .sec-highlight h2 {
    font-size: 26px;
  }

  .sec-slider li.slide {
    margin-bottom: 50px;
  }

  section.sec-banner-card {
    margin-bottom: 20px;
  }

  .sec-about-intro .container {
    max-width: 80%;
  }
  .sec-nav .menu-item::after {
    display: none;
  }

  .sec-nav li.menu-item::after {
    content: "";
    width: 2px;
    height: 26px;
    display: block;
    background: var(--white);
    position: absolute;
    right: 0;
  }
  .home-banner .title {
    width: 80%;
  }
  .banner-page {
    height: 350px;
    background-attachment: unset;
  }
  .sec-team .container .side-bar {
    width: 30%;
  }
  .sec-team .container .main-cont {
    width: 70%;
  }
  .sec-difference .widget_text:nth-child(2) .textwidget > ul {
    grid-template-columns: repeat(1, minmax(0, 1fr));

    row-gap: 2.5rem;
  }

  #page footer .site-footer .col-full {
    grid-template-columns: repeat(2, minmax(0, auto));
  }

  #page .footer-mid .col-full {
    grid-template-columns: 3fr 1fr;
  }

  .footer-mid .widget_nav_menu li {
    padding: 5px 10px 5px 0;
  }

  #page .copyright .col-full {
    flex-direction: column;

    align-items: center;
  }

  .copyright p {
    font-size: 12px;
  }

  footer {
    padding: 30px 20px 10px;
  }

  .home-banner h1 {
    font-size: 35px;
  }

  .home-banner .title p {
    font-size: 20px;
  }

  .home-banner .title p:nth-child(3) > a {
    font-size: 15px;

    padding: 7px 30px;
  }

  .home-intro .content.container {
    flex-wrap: wrap;
  }

  .home-intro .left,
  .home-intro .right {
    gap: 0;
    width: 100%;
    justify-content: space-around;
  }

  .home-intro .content.container,
  .home .home-container,
  .sec-guides {
    padding: 30px 15px;
  }

  .reviews.owl-carousel {
    width: 90%;
    margin: auto;
  }
  /* .reviews.owl-carousel .owl-nav button.owl-prev {
    left: -10px;
  }
  .reviews .owl-nav button.owl-next {
    right: -10px;
  } */

  .home-intro .right .item-content .img-tours {
    width: 100%;
  }

  .home-title h2,
  .sec-rv h2.title,
  .sec-des-month h2.title {
    font-size: 25px;
  }

  .home-title p {
    font-size: 15px;
  }

  .cate-list li span {
    padding: 15px;

    font-size: 14px;
  }

  .btn-link > a {
    line-height: 1;

    padding: 10px 15px;
  }

  .sec-difference .box-icon .widget_text {
    max-width: 100%;
  }

  .sec-difference .col-full {
    padding-top: 30px;

    padding-bottom: 30px;
  }

  .home-banner img {
    min-height: 400px;
    max-height: 400px;
  }

  .home-travel .list-posts,
  .home-travel .cate-list ul {
    gap: 10px;
  }

  .sec-rv {
    padding: 30px 0;
  }

  .sec-specialist .col-full {
    padding: 30px;
  }

  .home-banner .item i {
    padding: 0 15px;

    font-size: 12px;
  }

  .sec-country-intro .container,
  .sec-ideas .container {
    flex-direction: column;
  }

  .sec-country-intro .meet {
    max-width: 100%;
  }

  .sec-explore.sec-guides-visit .list-post {
    padding-top: 20px;
  }
  .sec-description h2 {
    font-size: 25px;
    text-align: center;
  }
  .sec-description .desc-cont {
    padding-right: 0;
  }
  .sec-slide-tour .owl-stage-outer .owl-stage .owl-item,
  .sec-slide-tour .slides,
  .sec-slide-tour .slide-ft li img {
    width: 600px !important;
    height: 400px !important;
  }
  .sec-description .select-country span {
    font-size: 12px;
  }
  .sec-highlight .wrap {
    flex-direction: column;
  }
  .sec-highlight .hl-left,
  .sec-highlight .hl-right {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .sec-highlight .hl-right {
    padding-top: 30px;
    padding-left: 0;
  }
  .sec-highlight ul.content-hl {
    padding-right: 0;
  }
  .sec-highlight .hl-right::after {
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(90deg);
    top: -50%;
  }
  .sec-highlight .hl-right .right-cont img {
    width: 30%;
    height: 130px;
  }
  .sec-itinerary .tour-info {
    width: 60%;
  }
  .sec-itinerary .itinerary__button {
    font-size: 15px;
  }

  /*menu bottom*/
  .menu-bottom {
    display: block !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #011b31;
    z-index: 25;
  }
  .menu-bottom > .widget_text {
    margin-bottom: 0;
  }
  .menu-bottom ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--yellow);
  }
  .menu-bottom ul > li {
    margin-bottom: 0;
    padding: 7px;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
  }
  .menu-bottom ul > li > a {
    color: #fff;
  }
  .menu-bottom ul > li i {
    font-size: 19px;
    color: var(--yellow);
  }
  .menu-bottom ul li:not(li:last-child) {
    border-right: 1px solid var(--yellow);
  }
  .chat-with-us {
    display: none;
  }
  .site-branding .email-icon {
    display: block !important;
    position: absolute;
    right: 0;
    z-index: 999 !important;
  }
  .site-branding .email-icon i {
    font-size: 25px;
    color: #fff;
  }
  .col-full-nav .widget_text:last-child {
    position: absolute;
    left: 94%;
    display: unset !important;
  }
  .col-full-nav .widget_text:last-child img {
    width: 28px;
    height: 22px;
  }
  .sec-difference .box-icon {
    padding: 0 10px;
  }
  .sec-difference .box-icon > .widget_text {
    flex: 0 0 31%;
    padding: 0 10px;
  }
  .tour-info {
    padding: 20px 20px 30px 10px;
  }
  .tour-info .itinerary__hdr {
    padding: 15px 20px 20px 0;
  }
  .tour-info #tour-accordion {
    margin-left: 0;
  }
  .sec-highlight .container {
    padding: 30px 40px;
  }
  .sec-highlight .hl-right p:last-child {
    margin-bottom: 0 !important;
  }
  .sec-highlight .hl-left {
    padding-bottom: 20px;
  }
  .sec-highlight .hl-right {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 736px) {
  .page-template-booking-tours
    form
    .wpforms-field-container
    > div:not(:first-child) {
    padding: 0 30px !important;
  }
  .contact-us-frm .choose-gender {
    flex: 0 0 35%;
    max-width: 35%;
  }
  .contact-us-frm .txt-name {
    flex: 0 0 65%;
    max-width: 65%;
  }
  .contact-us-frm .type-travel ul > li > label {
    width: 137px;
  }
  #content .type-travel input[type="checkbox"],
  #content .type-travel input[type="checkbox"]::before,
  #content .type-travel input[type="checkbox"]::after {
    width: 135px;
  }
  #content .type-travel input[type="checkbox"] + label:hover {
    line-height: 46px !important;
  }
  .sec-des-month .slides-tour {
    padding: 0;
  }
  .banner-page.single {
    height: 500px;
  }
  .banner-page h1.banner-title {
    font-size: 30px;
  }
  .banner-page.single .container .tour-details {
    padding: 20px 15px;
  }
  h1.page-title + p {
    font-size: 14px;
  }
  .sec-view .tabs {
    margin-bottom: 30px;
  }
  .sec-find-a-trip button.find-trip {
    flex: 1s;
  }
  .tour-info {
    position: unset !important;
  }
  #main .sec-itinerary .content-map {
    height: auto;
  }
  .content-map {
    display: flex;
    flex-direction: column-reverse;
  }
  .sec-itinerary .tour-info {
    width: 100%;
    padding: 20px 10px;
  }
  .tour-info::after,
  .tour-info::before {
    display: none !important;
  }
  .content-map .tour-map__canvas {
    height: 300px;
  }
  .tour-info .tour-info__inner {
    padding: 0;
  }
}

@media only screen and (max-width: 601px) {
  .page-template-booking-tours
    .sec-passenger
    + div
    .wpforms-field-layout-columns {
    grid-template-columns: repeat(1, 1fr);
  }
  .travellerItem span.sec-title b {
    flex: 0 0 15%;
    max-width: 15%;
  }
  .sec-parallax {
    background-attachment: unset;
    background-position: unset;
  }
  .banner-page.single .container .tour-details > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .banner-page.single .container .tour-details > .book-tour,
  .banner-page.single .container .tour-details > .user-online {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .banner-page.single .container .tour-details > .book-tour {
    justify-content: center;
    margin-top: 10px;
  }
  .banner-page.single .container .tour-details {
    padding: 20px 50px;
  }
  .contact-us-frm .frm-booking > h2 {
    font-size: 22px !important;
  }
  .page-template-booking-tours
    .contact-us-frm
    .wpforms-field-layout-preset-50-50 {
    flex-direction: column;
    row-gap: 10px;
  }
  .page-template-booking-tours #content .wpforms-layout-column-50 {
    width: 100%;
  }
  .page-template-booking-tours
    .sec-passenger
    + div
    > div
    .wpforms-layout-column-50
    > div {
    margin-top: 0 !important;
  }
  #content .contact-us-frm .type-travel ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .sec-difference .box-icon > .widget_text {
    flex: unset;
  }
  .sec-passenger
    + div
    + div
    .wpforms-field-layout-columns
    > div:first-child
    label {
    font-size: 15px;
  }
  .single-things-to-do .desc-cont,
  .single-travel-guides .desc-cont,
  .single-things-to-do .destination,
  .single-travel-guides .destination,
  .sec-description .destination .box-img {
    width: 100%;
  }
  .sec-description .destination .box {
    flex-direction: column;
  }
  .sec-description .destination .box-img img {
    margin: 15px auto 0;
  }
  .banner-page h1.banner-title {
    font-size: 25px;
  }
  .banner-page.single a.classic-tour {
    font-size: 12px;
  }
  .banner-page.single .tour-details p,
  #wpsvconline,
  #wpsvconline::after {
    font-size: 15px;
  }
  .list-posts.places-post {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  h1.page-title {
    top: 45%;
  }
  h1.page-title + p {
    font-size: 13px;
    padding: 6px 15px;
  }
  .country-ideas {
    padding: 0 12px;
  }
  h3.name-country {
    margin-bottom: 20px !important;
    font-size: 25px;
  }
  .country-ideas .item-country:not(.item-country:first-child) {
    margin-top: 20px;
  }
  .item-country .cnt-country {
    flex-direction: column-reverse;
    gap: 15px;
  }
  #idea-post .post_by_month {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
  }
  .sec-find-a-trip form.trip-finder {
    justify-content: center;
  }
  .col-full-nav .widget_text:last-child {
    left: 93%;
  }
  .sec-find-a-trip .select {
    flex: unset;

    width: 100%;
  }

  .sec-find-a-trip button.find-trip {
    flex: unset;
  }

  .single .sec-btn {
    margin: 35px 0;
  }

  .sec-btn .container {
    padding-bottom: 30px;
  }

  .sec-itinerary .itinerary__button-group {
    display: flex;
    column-gap: 10px;
  }

  .sec-itinerary .itinerary__button-group > button {
    padding: 0;
  }
  .sec-itinerary .itinerary__hdr h3 {
    padding-right: 90px;
  }
  .sec-itinerary .itinerary__button-group {
    top: 20px;
  }
  .sec-slide-tour .owl-stage-outer .owl-stage .owl-item,
  .sec-slide-tour .slides,
  .sec-slide-tour .slide-ft li img,
  .sec-slide-tour .slide-ft li {
    width: 400px !important;
    height: 320px !important;
  }
  .sec-highlight .hl-right .right-cont img {
    height: 100px;
    margin-right: 15px;
    min-width: 150px;
    width: 150px;
  }
  .sec-description .container {
    flex-direction: column;
  }
  .sec-des-month .container-month {
    padding-bottom: 0;
  }
  section.sec-des-month,
  section.sec-information,
  section.sec-place-popular {
    padding: 30px 0;
  }
  .sec-highlight .right-cont:last-child {
    margin-bottom: 0;
  }
  .single .sec-custom-tour .cont-top {
    grid-template-columns: 1fr;
  }
  .sec-view .box-right,
  .sec-view .box-left {
    flex: unset;
    height: auto;
  }
  .sec-view .box-right {
    height: 400px;
  }
  .sec-view .box-map,
  .sec-cont-travel .container {
    flex-direction: column;
  }
  .sec-cont-travel .container {
    padding: 30px 15px;
  }
  .sec-explore .list-post {
    grid-template-columns: repeat(2, 1fr);
  }
  .sec-tour .tour-item {
    max-width: 48%;
  }
  .sec-highlight .container {
    padding: 30px 15px;
    margin: 0 15px;
  }
  .sec-country-intro .meet-cont {
    align-items: center;
  }
  .sec-slider .cricle-inner {
    width: 90px;
    height: 90px;
  }
  .sec-slider .cricle-outer {
    height: 85px;
    width: 85px;
  }
  .sec-slider .cricle-outer-num {
    height: 70px;
    width: 70px;
  }
  .sec-banner-care h2 {
    font-size: 20px;
  }
  .sec-slider li.slide {
    height: 500px;
  }
  .sec-banner-card .card {
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .sec-banner-card .card.card-right {
    top: 50%;
    transform: translateY(-50%);
  }
  .sec-about-intro .container {
    margin: 30px auto;
  }
  .sec-nav li.menu-item {
    flex: 0 0 33%;
  }
  .home-banner .title {
    top: 60%;
  }
  .home-banner .item a span {
    font-size: 15px;
  }
  .home-banner .item i {
    display: none;
  }
  .home-banner {
    margin-bottom: 70px;
  }
  /* .home-banner img {
    min-height: 300px;
  } */
  .home-banner .box-list {
    bottom: unset;
    row-gap: 5px;
  }
  .home-banner .box-list .item {
    background: var(--blue);
    border-radius: 10px;
    margin-top: 20px;
    height: 60px;
  }
  .home-banner .box-list .item:hover {
    background: var(--yellow);
  }

  .btn-link {
    margin-top: 30px;
  }

  div.list-posts .item {
    height: 220px;
  }
  .cate-list ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .banner-page {
    height: 200px;
  }
  .breadcrumbs {
    padding: 10px 20px;
  }
  .sec-team .container .main-cont,
  .sec-team .container .side-bar {
    width: 100%;
  }

  .sec-team .container {
    flex-direction: column;
  }

  .sec-team .container .main-cont {
    padding: 25px 15px;
  }
  .below-content p {
    font-size: 15px !important;
  }
  .sec-specialist .col-full {
    padding: 40px 10px;
  }
  .sec-difference .col-full {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .sec-team .container .side-bar {
    padding: 30px 20px;
  }
  #page footer .site-footer .col-full,
  #page .footer-mid .col-full {
    grid-template-columns: 1fr;
  }
  .site h1.page-title {
    font-size: 20px;
  }
  .sec-specialist .widget_text .textwidget h2,
  .sec-information h2,
  .sec-guides h2,
  .sec-popular h2.title,
  .sec-tour h2 {
    font-size: 25px;
  }
  .sec-specialist .about-infor ul {
    padding-bottom: 10px;
  }
  .sec-specialist .widget_text .textwidget > p {
    padding-bottom: 10px;
  }
  .sec-nav li.menu-item {
    padding: 12px 0;
  }
  /* .sec-itinerary .owl-item li img {
    border-radius: 10px;
  } */
  .banner-page.single {
    background-position: center center !important;
  }
  .page-template-destinations .tab > div.grid {
    padding: 0 30px;
  }
  #destination > div.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .travellerItem span.sec-title b {
    flex: 0 0 18%;
    max-width: 18%;
  }
  .travellerItem span.mb20 label {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .single.single-post .banner-page.single {
    background-attachment: scroll;
    background-size: contain;
    background-position: top center !important;
    height: 500px !important;
  }
  .banner-page.single .tour-details {
    background-color: #fff;
  }
  .itin-day .itin-day__icon-number {
    font-size: 14px;
  }
  .itin-day .itin-day__icon {
    width: 30px;
    height: 30px;
    top: 5px;
  }
  .page-template-booking-tours #content .contact-us-frm .type-travel ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-template-booking-tours .contact-us-frm .container {
    padding: 15px;
  }
  .page-template-booking-tours .container form {
    margin: 0;
  }
  .page-template-booking-tours .wpforms-field-container > div:first-child {
    margin-top: 0 !important;
  }
  .page-template-booking-tours h2.main-title {
    padding-top: 5px;
  }
  .contact-us-frm.sec-team .container .side-bar,
  .page-template-booking-tours h1.page-title {
    width: 100% !important;
  }
  .sec-place-popular .places-list,
  .sec-explore .list-post {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .page-template-travel-ideas .col-full {
    padding-left: 0;
    padding-right: 0;
  }
  .country-ideas .item-country .list-links {
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
  }
  .country-ideas .sec-btn {
    flex-direction: column !important;
  }
  #idea-post.ideas-by-month .post_by_month {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }
  .country-ideas .sec-btn {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .ideas-by-month h2 {
    font-size: 25px;
  }
  .ideas-by-month,
  section.sec-country-intro {
    padding: 30px 12px;
  }
  .border-line {
    padding: 15px 0;
  }
  #tour-accordion {
    margin: 0;
  }
  .site-branding .email-icon {
    right: 15px;
  }
  .sec-sort .container {
    flex-direction: column;
    gap: 15px;
  }
  .col-full-nav .widget_text:last-child {
    left: 91%;
  }
  .sec-popular-post .content {
    flex-direction: column;
    gap: 20px;
  }
  .sec-popular-post .popular-post {
    width: 100%;
    margin: 0;
  }
  .sec-popular-post .content {
    padding: 0 12px;
  }
  #tour-accordion .itin-day {
    padding-left: 0;
  }
  #tour-accordion .itin-day .accordion-custom button {
    padding-left: 50px;
  }
  #tour-accordion .itin-day .accordion-custom p {
    font-size: 16px;
  }
  .single .sec-other-tour .home-title {
    font-size: 25px;
    line-height: 29px;
  }
  .sec-other-tour {
    padding: 30px;
  }
  .sec-highlight .right-cont {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
  }
  .sec-highlight .hl-right .right-cont img {
    width: unset;
    margin-right: 0;
  }
  .sec-tour .block .tour-item.flex {
    flex-direction: column;
  }
  .sec-tour .tour-item .thumb.flex-1 img,
  .sec-tour .tour-item .thumb img {
    max-height: 230px;
  }
  .sec-view a.place-name {
    text-align: center;
  }
  .sec-view .list-place {
    margin-left: 0;
    padding-top: 0;
  }
  .sec-view .list-view {
    padding: 0;
  }
  .sec-guides .guide {
    width: 100%;

    padding: 0;
  }

  .sec-tour .tour-item {
    max-width: 100%;
  }

  .sec-tour h2 {
    margin-bottom: 20px;
  }

  .sec-tour .border {
    display: none;
  }

  .sec-tour h2 {
    text-align: center;

    margin-bottom: 10px;
  }

  .sec-slider li.slide {
    margin-bottom: 30px;
  }

  .sec-banner-care .img-border {
    height: 90%;

    margin: 15px 10px;
  }

  section.sec-banner-card {
    margin-bottom: 15px;
  }

  .sec-nav li.menu-item {
    flex: 0 0 45%;
  }

  .sec-slider li.slide {
    height: 400px;
  }

  section.sec-banner-care,
  .sec-tour .heading,
  .sec-guides .content {
    flex-direction: column;
  }

  section.sec-banner-care {
    height: 650px;
  }

  .sec-banner-care .content-end {
    margin-bottom: 0;
  }

  .sec-banner-card .card {
    width: 90% !important;
  }

  .home-travel .list-posts {
    grid-template-columns: 1fr;
  }

  .cate-list ul,
  .sec-place-popular .places-list,
  .sec-cont-travel .more-tour {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .home-escape .list-posts {
    display: flex;

    flex-wrap: wrap;

    justify-content: center;
  }

  .home-escape .list-posts .item {
    max-width: 47%;
    width: 47%;
  }

  .btn-link > a > span {
    font-size: 13px;
  }

  .list-posts,
  .home-travel .btn-link,
  .home-intro .right {
    gap: 10px;
  }

  .home-intro .left h2,
  .sec-itinerary h2 {
    font-size: 25px;
  }

  .home-banner .item a span {
    font-size: 14px;

    line-height: 1.1;

    padding: 10px;
  }

  .home-banner .box-list {
    max-width: 100%;

    padding: 0 15px;
  }

  .header-4 .header-4-container {
    padding: 0 !important;
  }

  .site .home-banner h1 {
    margin-bottom: 10px;
  }

  .home-banner .title p {
    font-size: 16px;

    line-height: 1.2;
  }

  .sec-specialist .about-infor > p {
    max-width: 161px;
  }

  .sec-specialist .about-infor {
    flex-direction: column;

    align-items: center;
  }

  .sec-difference .widget_text:first-child ul li:first-child {
    font-size: 25px;
  }

  .sec-difference .widget_text:first-child ul li:nth-child(2) {
    font-size: 18px;
  }

  .copyright ul.menu {
    flex-wrap: wrap;

    justify-content: center;
  }

  .sec-team .member {
    flex-direction: column;
  }

  .sec-team .member .thumb img {
    width: 100%;
  }

  .sec-popular .desc {
    padding: 0 15px;
  }

  .sec-explore .content {
    padding: 10px;
  }
  .tour-details {
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
  }
  .tour-details > div {
    flex: 0 0 32%;
    max-width: 32%;
    text-align: center;
  }
  .single .tour-details .level p {
    padding-left: 0;
  }
  .tour-details .level img {
    left: 50%;
    transform: translateX(-50%);
  }
  .sec-tour .filter-right {
    width: 90vw;
  }
  .page-template-booking-tours #content .contact-us-frm .sec-top {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 414px) {
  .banner-page.single h1.banner-title,
  .banner-page.single .favorite-icon {
    font-size: 18px;
  }
  .content-map li.itin-day .itin-day__text p + ul li {
    font-size: 18px;
  }
  .sec-py {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page-template-booking-tours
    form
    .wpforms-field-container
    > div:not(:first-child) {
    padding: 0 15px !important;
  }
  .page-template-booking-tours .sec-cont-travel h3 {
    font-size: 16px;
  }

  .sec-des-month .container-month {
    padding: 0 30px;
  }
  h1.page-title + p {
    padding: 6px 15px;
  }
  .home-intro .right .item-content {
    margin-left: 10px;
  }
  .item-country .list-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .sec-slide-tour .owl-stage-outer .owl-stage .owl-item,
  .sec-slide-tour .slides,
  .sec-slide-tour .slide-ft li img,
  .sec-slide-tour .slide-ft li {
    width: 330px !important;

    height: 280px !important;
  }

  .sec-highlight .hl-right::after {
    height: 80%;
    top: -40%;
  }
  .content-map .tour-info {
    padding: 20px 10px 20px 20px;
  }
  .col-full-nav .widget_text:last-child {
    left: 90%;
  }
  .single .sec-custom-tour .list-btn-hightlight {
    gap: 5px;

    padding: 0 15px;
  }

  .sec-cont-travel h2 {
    font-size: 25px;

    line-height: 29px;
  }

  .sec-cont-travel h3 {
    font-size: 17px;

    line-height: 22px;
  }

  .sec-explore.sec-guides-visit {
    padding-bottom: 0;
  }

  .sec-des-month .tab-panel {
    padding-top: 20px;
  }

  .sec-des-month #tabs > .tabs-nav {
    gap: 10px;
  }

  .sec-des-month .tab-link {
    padding: 10px 15px;
  }

  .sec-country-intro.padd-t-0 {
    margin-top: 25px;
  }

  .sec-country-intro.padd-t-0 .content-desc > p {
    margin-bottom: 10px;
  }

  section.sec-country-intro .content-desc > p:last-child {
    margin-bottom: 0;
  }

  .btn-tour {
    padding: 8px 25px;
  }

  .sec-hotels .container {
    padding: 0 12px 20px;
  }

  section.sec-country-intro {
    padding: 20px 12px;
  }

  .site h1.page-title,
  .sec-specialist .widget_text .textwidget h2,
  .sec-information h2,
  .sec-guides h2,
  .sec-popular h2.title,
  .sec-tour h2 {
    font-size: 22px;

    padding: 0 10px;
  }

  .sec-about-intro .container {
    max-width: 100%;

    margin: 30px 20px;
  }

  h2.meet-heading {
    font-size: 25px;
  }

  .sec-slider li.slide {
    margin-bottom: 30px;
  }

  .sec-slider .slide h2,
  .sec-slider .owl-stage {
    padding-top: 70px;
  }

  .sec-about-intro h2.title,
  .sec-banner-card h2.title,
  .sec-ideas h2.title,
  .sec-rv h2.title,
  .sec-explore h2.title,
  .sec-place-popular h2.title,
  .sec-view h2.title {
    font-size: 21px;
  }
  .home-intro .right,
  .sec-explore .list-post,
  .sec-place-popular .places-list {
    grid-template-columns: 1fr;
  }
  .home-escape .list-posts .item {
    max-width: 46%;
  }
  .below-content .widget p {
    padding-left: 0 !important;
  }
  .sec-specialist .col-full .widget_text:nth-child(2) li strong {
    font-size: 16px;
  }
  .sec-specialist .col-full .widget_text:nth-child(2) li {
    width: 110px;
  }
  .sec-specialist .col-full .widget_text:nth-child(2) li img {
    height: auto;
  }
  .footer-mid .col-full > .widget:first-child ul {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  .sec-tour .tour-title {
    margin-bottom: 0;

    padding: 10px 0;
  }

  .sec-country-intro .meet {
    max-height: unset;
  }

  .sec-explore {
    padding: 30px 12px;
  }

  .sec-other-ideal .container {
    padding: 0;
  }

  .sec-btn .container {
    gap: 15px;
  }
  #idea-post .post_by_month {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  h3.name-country {
    font-size: 22px;
  }
  .single .sec-btn {
    margin: 25px 0;
  }
}

@media only screen and (max-width: 375px) {
  /* .single.single-post .banner-page.single {
    background-size: 100% 295px;
  } */
  .home-escape .list-posts {
    gap: 10px;
  }
  .list-posts.places-post {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .home-intro .right .item-content {
    height: 250px;
  }
  .single .sec-other-tour .home-title {
    font-size: 20px;
  }
  .item-country .cap-img {
    padding: 10px 0;
  }
  .sec-des-month .tour-in-month {
    height: 250px;
  }

  .sec-des-month.sec-other-ideal h2.title {
    margin-bottom: 0 !important;
  }

  .sec-quote .cont-quote .content > p {
    margin-bottom: 10px;
  }

  .sec-place-popular .places-list {
    margin-top: 20px;
  }

  .sec-information .accordion {
    padding: 10px;
  }

  .sec-country-intro .meet-cont {
    flex-direction: column;

    align-items: center;
  }
  .col-full-nav .widget_text:last-child {
    left: 88%;
  }
  .sec-country-intro {
    padding: 20px 12px;
  }

  .sec-country-intro h3.meet-title {
    font-size: 20px;
  }

  .sec-country-intro .meet {
    padding: 20px;
  }

  .sec-banner-card p.card-author {
    padding: 15px 0;

    margin-bottom: 10px;
  }

  .sec-nav li.menu-item {
    flex: 0 0 50%;
  }

  .site h1.page-title,
  .sec-specialist .widget_text .textwidget h2,
  .sec-des-month h2.title {
    font-size: 22px;
  }

  .copyright p {
    text-align: center;
  }

  section.sec-popular {
    padding: 30px 0;
  }

  .sec-cont-travel .more-tour,
  .sec-highlight .right-cont {
    grid-template-columns: 1fr;
  }

  .sec-highlight .hl-right .right-cont img {
    width: 100%;

    height: 200px;
  }

  .sec-highlight .hl-right .right-cont p {
    font-size: 14px;

    font-style: italic;

    margin-top: 5px;

    text-align: center;
  }
  #destination > div.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 360px) {
  .country-ideas .item-country:not(.item-country:first-child) {
    margin-top: 10px;
  }
  .sec-slide-tour .owl-stage-outer .owl-stage .owl-item,
  .sec-slide-tour .slides,
  .sec-slide-tour .slide-ft li img,
  .sec-slide-tour .slide-ft li {
    width: 280px !important;

    height: 200px !important;
  }

  .sec-about-intro h2 {
    font-size: 22px;
  }

  .site h1.page-title {
    font-size: 20px;
  }

  .sec-specialist .col-full .widget_text:nth-child(2) li {
    width: 90px;
  }

  .sec-guides-visit .container {
    padding-bottom: 10px;
  }

  .sec-des-month h2.title {
    margin-bottom: 10px;
  }

  .sec-explore.sec-guides-visit .container {
    padding: 0;
  }
}

@media only screen and (max-width: 320px) {
  /* .single.single-post .banner-page.single {
    background-size: 100% 270px;
  } */
  .sec-itinerary .itinerary__button-group > button {
    font-size: 12px;
  }
  .page-template-booking-tours .contact-us-frm .type-travel ul > li > label,
  .type-travel input[type="checkbox"],
  .page-template-booking-tours .type-travel input[type="checkbox"]::before,
  .page-template-booking-tours .type-travel input[type="checkbox"]::after {
    width: 115px !important;
  }
  .page-template-booking-tours #rc-anchor-container {
    width: 250px !important;
  }
  .ideas-by-month h2 {
    font-size: 23px;
  }
  .sec-des-month h2.title {
    font-size: 20px;
  }
  .home-escape .list-posts .item {
    max-width: 100%;
    width: 100%;
  }
  h2.meet-heading,
  .sec-cont-travel h2 {
    font-size: 22px;
  }
  .ti-footer .ti-rating-text {
    flex-direction: column;
  }
  .sec-slider .cricle-outer-num {
    width: 50px;

    height: 50px;
  }

  .sec-slider .cricle-outer {
    width: 65px;

    height: 65px;
  }

  .sec-slider .cricle-inner {
    width: 80px;

    height: 80px;
  }

  .sec-banner-card .card.card-right {
    padding: 20px 15px;
  }

  .btn-vn {
    padding: 12px;
  }

  .page-template-template-about-us .sec-nav > .container {
    padding: 0;
  }

  .sec-nav li.menu-item {
    flex: 0 0 60%;
  }

  .header-4 .header-4-container {
    padding: 0 !important;
  }

  .site h1.page-title {
    font-size: 19px;
  }

  .footer-mid .widget_text ul {
    gap: 20px;
  }

  .sec-slider .owl-stage {
    padding-top: 50px;
  }

  .sec-country-intro a.btn-ct {
    padding: 10px 50px;
  }

  .sec-tour .layout {
    gap: 5px;
  }
}

@media only screen and (min-width: 995px) {
  .col-full-nav > div:nth-child(3) {
    display: none !important;
  }

  #menu-primary-menu > li:first-child .sub-menu > li:first-child .sub-menu,
  #menu-primary-menu > li:nth-child(3) .sub-menu > li:nth-child(2) .sub-menu {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  #menu-primary-menu
    > li
    .sub-menu
    > li:nth-child(3)
    .sub-menu
    > li
    > a
    > span {
    display: flex;

    height: 148px;
  }
  #menu-primary-menu > li:last-child .sub-menu .all-destination span {
    height: unset !important;
  }
  #menu-primary-menu > li:last-child .sub-menu .all-destination {
    width: fit-content;
    background: var(--yellow);
  }

  #menu-primary-menu > li .sub-menu > li:nth-child(3) .sub-menu > li span img {
    width: 200px;

    height: 100%;

    object-fit: cover;
  }

  #menu-primary-menu
    > li:last-child
    .sub-menu
    > li:nth-child(2)
    .sub-menu
    > li
    span
    span {
    display: none !important;
  }
  #menu-primary-menu li.heading-menu {
    margin-top: 30px;
  }
  #menu-primary-menu li.heading-menu span {
    font-size: 18px;
    font-family: "Playfair Display", serif !important;
    font-weight: 500;
  }
  #menu-primary-menu > li:last-child .sub-menu > li:nth-child(2) .sub-menu {
    display: flex;
    flex-wrap: wrap;
  }
  #menu-primary-menu
    > li:last-child
    .sub-menu
    > li:nth-child(2)
    .sub-menu
    > li {
    flex: 0 0 30%;
    max-width: 30%;
  }
  #menu-primary-menu
    > li:nth-child(3)
    .sub-menu
    > li:nth-child(3)
    .sub-menu
    > li
    span
    span {
    flex: 0 0 100%;

    padding: 10px;
  }

  #menu-primary-menu
    > li:last-child
    .sub-menu
    > li:nth-child(2)
    .sub-menu
    > li
    span
    img {
    width: inherit;

    height: 100px;

    object-fit: cover;
  }

  #menu-primary-menu
    > li:last-child
    .sub-menu
    > li:nth-child(2)
    .sub-menu
    > li
    > a {
    padding: 0;
    width: inherit;
  }

  #menu-primary-menu > li > .sub-menu-wrapper > .container > ul.sub-menu {
    width: 100vw;

    display: flex;

    justify-content: center;
  }

  .menu-primary-menu-container > ul > li.menu-item,
  #menu-primary-menu
    > li
    > .sub-menu-wrapper
    .sub-menu
    > li
    > .sub-menu-wrapper {
    position: unset !important;
  }
}
@media only screen and (min-width: 1140px) {
  #menu-primary-menu > li > .sub-menu-wrapper > .container > ul.sub-menu > li,
  #menu-primary-menu
    > li
    > .sub-menu-wrapper
    > .container
    > ul.sub-menu
    > li
    .sub-menu-wrapper
    ul.sub-menu {
    min-width: 370px;
  }
}
@media only screen and (min-width: 992px) {
  /* body .main-navigation ul.menu > li:not(.full-width) > .sub-menu-wrapper {
    width: 100% !important;
  } */
  .open-menu > .sub-menu-wrapper > .container > ul.sub-menu {
    height: 520px !important;
    /* width: 100% !important;
    display: flex !important;
    justify-content: space-around; */
  }
  body .main-navigation ul.menu > li:not(.full-width) > .sub-menu-wrapper {
    top: 60px;
  }
}
@media only screen and (max-width: 1580px) {
  #menu-primary-menu > li:last-child .sub-menu > li:nth-child(2) .sub-menu {
    flex-wrap: wrap;
    gap: 20px;
  }
  #menu-primary-menu
    > li:last-child
    .sub-menu
    > li:nth-child(2)
    .sub-menu
    > li
    a {
    padding: 0;
  }
}

.list-btn-destination > div > div:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}
.list-btn-destination > div > div,
.list-btn-destination > div > div h3 {
  color: #fff;
}
.hero-caption {
  position: absolute;
  z-index: 3;
  bottom: 12px;
  bottom: 4%;
  left: calc(100% - 172px);
  height: 70px;
  transition: transform 0.4s ease;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
  will-change: transform;
}
.hero-caption_default {
  display: flex;
  position: absolute;
  top: 0;
  left: 20px;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
  will-change: transform, opacity;
}
.hero-caption button {
  color: inherit;
  font-family: Playfair Display, Mulish, serif;
  background-color: transparent;
}
.hero-caption__secondary {
  padding: 12px 28px;
  transition: opacity 0.4s ease;
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
}
.hero-caption__secondary {
  padding: 12px 28px;
  transition: opacity 0.4s ease;
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}
.hero-caption__secondary > div.mr-5 {
  padding-top: 10px;
}
.hero-caption__secondary > div.mr-5 > i {
  font-size: 30px;
}
.hero-caption__content {
  padding-left: 10px;
}
.hero-caption__title {
  font-family: Playfair Display, Mulish, serif;
  line-height: 22px;
}
.hero-caption ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero-caption__links {
  display: flex;
  flex-direction: row;
}
li {
  line-height: 24px;
}
.hero-caption__links a {
  display: inline-block;
  color: inherit;
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
.hero-caption__links a::after {
  content: ">";
  display: inline-block;
  position: relative;
  top: 0px;
  width: 7px;
  margin-left: 4px;
  margin-right: 4px;
}
.hero-caption:hover .hero-caption_default {
  display: none;
  transform: translateX(-100%) translateX(190px);
}
.hero-caption:hover .hero-caption__secondary {
  opacity: 1;
  pointer-events: all;
}
.hero-caption:hover {
  transform: translateX(-100%) translateX(190px);
}
#menu-primary-menu > li:hover > a.main-menu-link > span,
.menu > li.menu-item .sub-menu > li.menu-item:hover > a > span {
  color: #a39161;
}
.menu-primary-menu-container > ul > li:hover > a span::before {
  border-color: #a39161 !important;
}
#menu-primary-menu > li:hover > a::after {
  background-color: #a39161 !important;
}
.all-destination {
  border-width: 1px;
  margin-top: 48px;
  font-weight: 400;
  font-size: 16px;
  padding: 12px 20px;
  line-height: normal;
  color: #fff;
  border: 1px solid #a39161;
  text-align: center;
  border-radius: 0.375rem;
  width: max-content;
}
.all-destination:hover {
  transition: 1s;
  background-color: #a39161;
  border-color: #a39161;
}
.all-destination:hover > a > span {
  color: #fff !important;
}
.country-ideas .sec-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.country-ideas .sec-btn > a {
  padding: 18px 27px;
  background: #011b31 !important;
  border: 1px solid #011b31;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
}
.country-ideas .sec-btn p {
  margin-bottom: 0 !important;
}
.country-ideas .item-country:not(.item-country:first-child) {
  margin-top: 40px;
}
h3.name-country {
  margin-bottom: 50px !important;
  font-size: 30px;
}
.item-country .cnt-country {
  display: flex;
  column-gap: 20px;
}
.item-country .main-cnt {
  max-width: 66%;
}
.border-line {
  padding: 20px 0;
  border-bottom: 1px solid rgb(217, 217, 217);
  border-top: 1px solid rgb(217, 217, 217);
  margin-bottom: 15px;
}
.item-country .list-links {
  display: flex;
  gap: 30px;
}
.item-country .list-links > a {
  padding: 0;
  background: transparent;
  color: #011b31;
  text-decoration: underline;
  font-weight: 700;
}
.item-country .cap-img {
  margin-bottom: 0 !important;
  padding: 15px 0;
  text-align: center;
  background: #f1f1f1;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  line-height: 1.3;
  font-weight: 500;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 0 0 5px 5px;
  border-top: unset;
}
.list-posts .item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(1, 27, 49, 0.4);
  opacity: 0;
  transition: all 0.8s ease-in-out;
  border-radius: 5px;
}
.list-posts .item:hover::after {
  opacity: 1;
  border-radius: 5px;
}
.list-posts .item:hover img {
  transform: scale(1.1);
}
.list-posts .item:hover i {
  right: 0;
}
.list-posts .item i {
  position: absolute;
  right: -30px;
  transition: all 0.8s ease-in-out;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 68px;
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  z-index: 10;
}
.list-posts .item span {
  position: absolute;
  bottom: 0;
  padding: 20px;
  display: block;
  width: 100%;
  text-align: center;
  color: var(--white);
  font-size: 16px;
  font-family: "Playfair Display", serif;
  line-height: 24px;
  background: linear-gradient(0deg, #011b31 0%, rgba(1, 27, 49, 0) 100%);
  border-radius: 0 0 5px 5px;
  z-index: 10;
}
.list-posts .item img {
  height: 100%;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
  width: 100%;
}
#idea-post .item {
  height: 170px;
}
.list-posts .item {
  height: 310px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
#idea-post .post_by_month {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  margin-top: 50px;
}
.list-posts {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.ideas-by-month h2 {
  margin-bottom: 0 !important;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}
.ideas-by-month {
  background: #f1f1f1;
  padding: 60px 12px;
}
.ti-footer a,
.ti-footer .ti-rating-text {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-size: 12px;
}
.text_reviews p {
  margin-bottom: 0;
}
.ti-rating-text p strong,
.ti-rating-text a strong {
  color: var(--secondary);
}
